<!-- external scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- script js-->
{{ if .Site.IsServer }}
  {{ $scripts := resources.Get "js/bundle.js" }}
  <script src="{{ $scripts.RelPermalink }}"></script>
{{ else }}
  {{ $scripts := resources.Get "js/bundle.js" | resources.Minify }}
  <script src="{{ $scripts.RelPermalink }}"></script>
{{ end }}